* {
  margin: 0px;
  padding: 0px;
  color: black;
}

/* Header Design */
.header {
  display: flex;
  /* margin-top: 10px; */
  /* margin-left: 30px; */
  border: 1px solid smoke;
  align-items: center;
  background-color: rgb(243, 226, 226);
}
.header > img {
  width: 80px;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 900px;
  cursor: pointer;
}

.header > ul {
  display: flex;
  list-style-type: none;
}

.header > ul > li > a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}
.header > ul > li > a:hover {
  /* cursor: pointer; */
  text-decoration: underline;
  color: rgb(115, 112, 112);
}

/* restaurent cards */
.card-container {
  margin: 10px;
  height: 335px;
  /* width: 200px; */
  text-align: center;
}
.card-container:hover {
  cursor: pointer;
  border: 1px solid black;
}
.card-container > img {
  width: 200px;
  margin: 5px;
}

/* top rated button */
.filter {
  margin: 10px;
}
.filter-btn {
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
}

/* Body Container */

.res-cards-container {
  /* border: 1px solid black; */
  margin-top: 30px;
  height: 590px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Shimmer component */

.shimmer-container {
  margin-top: 50px;
  height: 590px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 15px;
  height: 335px;
  width: 240px;
  /* text-align: center; */
  background-color: #f0f0f0;
}

.login-btn {
  padding: 10px;
  width: 100px;
  margin-right: 15px;
  margin-left: 20px;
  border-radius: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.login-btn:hover {
  border: 2px solid black;
}
