* {
  margin: 0px;
  padding: 0px;
  color: black;
}

/* Header Design */
.header {
  display: flex;
  /* margin-top: 10px; */
  /* margin-left: 30px; */
  border: 1px solid smoke;
  align-items: center;
  background-color: rgb(243, 226, 226);
}
.header > img {
  width: 80px;
  border-radius: 50px;
  margin-right: 1070px;
  cursor: pointer;
}

.header > ul {
  display: flex;
  list-style-type: none;
}

.header > ul > li > a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}
